= form_for(list) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :desc
    = f.text_field :desc
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit
